@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<h4>Artists</h4>
<ul>
    <li>@Html.ActionLink("Artists", "Index", "Artist")</li>
    <li>@Html.ActionLink("Artists (ViewModel)", "ViewModel", "Artist")</li>
    <li>@Html.ActionLink("Artists (Better ViewModel)", "BetterViewModel", "Artist")</li>
</ul>